<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <!--Quartz任务调度框架使用-->

    <!--复杂的任务调度方式-->
    <!--jobDetail的方式，该配置方式可处理更加复杂的业务需求-->
    <bean id="complexJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <!--jobClass 一个继承自 QuartzJobBean 的自定义类，需要实现 executeInternal 方法-->
        <property name="jobClass" value="com.zjj.nb.biz.quartz.QuartzJob" />
        <!--jobDataMap 配置所有需要处理的任务类，把这些类注入到上面的quartzJob中-->
        <!--这个可以使用spring 注解，请看AutowiringSpringBeanJobFactory这个自定义的类-->
        <!--<property name="jobDataMap">-->
            <!--<map>-->
                <!--<entry key="twoBean" value-ref="twoBean" />-->
            <!--</map>-->
        <!--</property>-->
        <property name="durability" value="true" />
    </bean>

    <!--周一到周五没隔5秒执行一次-->
    <bean id="cronTrigger"  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="complexJobDetail" />
        <!--MON-FRI-->
        <property name="cronExpression" value="0/5 * * ? * *" />
    </bean>

    <!--配置 SchedulerFactoryBean，来管理和调度任务的执行-->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobDetails">
            <list>
                <ref bean="complexJobDetail" />
            </list>
        </property>

        <property name="triggers">
            <list>
                <ref bean="cronTrigger" />
            </list>
        </property>
        <!--通过该类可以使用spring的注解-->
        <property name="jobFactory">
            <bean class="com.zjj.nb.biz.quartz.AutowiringSpringBeanJobFactory" />
        </property>
    </bean>
</beans>